@import 'src/styles/colors.scss';

.Button {
    padding: 10px 16px;

    border: none;
    border-radius: 24px;
    background-color: $blueBase;
    color: #fff;

    line-height: 1.25rem;

    cursor: pointer;
}