@import 'src/styles/mixins.scss';

.Layout {
    max-width: 920px;
    margin: 0 auto;

    @include lg {
        max-width: none;

        margin: 0 32px;
    }

    @include sm {
        margin: 0 16px;
    }

    &-Error {
        display: flex;
        justify-content: center;

        padding: 36px 0;
        border-bottom: solid 1px #000;
    }

    &-Footer {
        display: flex;
        justify-content: center;

        margin: 56px 0 46px;

        @include sm {
            margin: 32px 0 24px;
        }

        text-align: center;
    }
}