@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.Card {
    --left-shift: 0;
    --bottom-shift: 0;

    display: flex;
    justify-content: space-between;

    position: relative;

    overflow: hidden;

    margin-bottom: 16px;
    padding: 24px;

    border: solid 1px #000;
    border-radius: 10px;

    @include md {
        padding: 16px;
    }

    @include sm {
        flex-direction: column;

        margin-bottom: 24px;
    }

    &-Background {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background: $gradientPositive;

        &_hazardous {
            background: $gradientNegative;
        }

        @include sm {
            height: 145px;
        }
    }

    &-Asteroid {
        position: absolute;
        z-index: 0;

        left: calc(157px - var(--left-shift));
        bottom: calc(100px - var(--bottom-shift));

        @include md {
            left: calc(100px - var(--left-shift));
        }

        @include sm {
            bottom: calc(60px - var(--bottom-shift));
        }
    }

    &-Dino {
        position: absolute;
        left: 16px;
        bottom: 0;

        @include sm {
            left: unset;
            right: 8px;

            transform: scaleX(-1);
        }

        @include xs {
            width: 35px;
            height: 30px;
        }
    }

    &-Info {
        position: relative;
        z-index: 1;

        width: 31%;
        min-width: 225px;

        margin-left: 37.5%;

        @include md {
            margin-left: 20%;
        }

        @include sm {
            width: 100%;

            margin: 0;
            margin-top: 90px;
        }
    }

    &-Title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;

        margin-bottom: 16px;

        @include sm {
            margin-bottom: 24px;
        }
    }

    &-Item {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin-top: 8px;

        line-height: 1.5rem;
    }

    &-Dots {
        flex: 1;

        margin-bottom: .4rem;
        border-bottom: 1px dotted #000;
    }

    &-Result {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        z-index: 1;

        padding-top: 16px;

        line-height: 1.5rem;
    }

    &-IsHazardous {
        margin-bottom: 8px;

        font-weight: 700;
    }

    &-AwaitDestruction {
        text-align: center;
    }
}